<section class="form-registro">
    <h4>Formulario de Registro</h4>
<form action="/add" method="POST"> 
 <input class="controls" type="text" name="Nombres" class="Nombres" placeholder="Ingrese su Nombre">
<input class="controls" type="text" name="Apellido" class="Nombres" placeholder="Ingrese su Apellido">
<input class="controls" type="email" name="Correo" class="Nombres" placeholder="Ingrese su Correo">
<input class="controls" type="password" name="Contraseña" class="Nombres" placeholder="Ingrese su Contraseña">
<input class="boton" type="submit" value="Registrar">
</form>

</section>