<div class="next">
    <h4><b>Horario</b></h4> <br><br>
<p>809-334-4111</p> 
<p>Lunes a Viernes de 8:30am a 6:00pm</p> 
<p>Sábado de 9:00am a 2:00pm</p> <br><br>
   <h5>¡UNETE YA A TU DEALER DE CONFIANZA!</h5>
   <button class="lol"> <a href="/form">IR</a></button>
</div>

<div class="pie">
    <img src="./multimedia/imagenes/logo_size.png">
    <p>All rights reserved Civic®</p> 
    <br><br>
    <a href="https://www.facebook.com/profile.php?id=100025261416829"><img class="face" src="https://static.wixstatic.com/media/e0678ef25486466ba65ef6ad47b559e1.png/v1/fill/w_40,h_40,al_c,q_85,usm_0.66_1.00_0.01/e0678ef25486466ba65ef6ad47b559e1.webp" > 
    </a>  
 
    <a href="https://www.youtube.com/channel/UCUhFaUpnq31m6TNX2VKVSVA"><img class="you"  src="https://static.wixstatic.com/media/e9bb463a1bc4434c9d33b81b1fe937f5.png/v1/fill/w_40,h_40,al_c,q_85,usm_0.66_1.00_0.01/e9bb463a1bc4434c9d33b81b1fe937f5.webp">
    </a>

    <a href="https://www.instagram.com/franklin_0413/?hl=es">
    <image class="instagram" data-image-info="{&quot;containerId&quot;:&quot;dataItem-ihdezc6x-comp-ihdezc6n2&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;17f992598001435083075924d7b6ae80.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-has-bg-scroll-effect="" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/17f992598001435083075924d7b6ae80.png/v1/fill/w_40,h_40,al_c,q_85,usm_0.66_1.00_0.01/17f992598001435083075924d7b6ae80.webp"><img alt="Instagram - White Circle" src="https://static.wixstatic.com/media/17f992598001435083075924d7b6ae80.png/v1/fill/w_40,h_40,al_c,q_85,usm_0.66_1.00_0.01/17f992598001435083075924d7b6ae80.webp" style="width: 40px; height: 40px; object-fit: cover;">
    </a>
</div>  