<div class="contenedor"></div>
    <header class="header">
    <div class="logo">
        <img src="./multimedia/imagenes/logo_size.png" alt="">
    </div>
    <nav class="menu">
        <ul class="opciones">
            <li><a href="#Inicio">Inicio</a></li>
            <li><a href="#Servicios">Servicios</a></li>
            <li><a href="#Taller">Taller</a></li>
            <li><a href="#Nosotros">Nosotros</a></li>
            <li><a href="#Contactos">Contactos</a></li>
        </ul>
    </nav>